<template>
    <div class="add-form">
        <h3 class="page-header">Add user</h3>
        <form class="form-group" @submit.prevent>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" v-model.trim="newUser.name" autocomplete="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" v-model.trim="newUser.email" autocomplete="email">
            </div>
            <div class="form-group">
                <label for="avatar">Avatar (URL)</label>
                <input type="text" class="form-control" id="avatar" v-model.trim="newUser.avatar" autocomplete="url">
            </div>
            <button class="btn btn-success" @click="addUser">Add user</button>
            <button @click="$router.go(-1)" type="button" class="btn btn-danger">Close</button>
        </form>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                newUser: {
                    name: '',
                    email: '',
                    avatar: ''
                }
            }
        },
        methods: {
            addUser () {
                if (!this.newUser.name || !this.newUser.email) {
                    return
                }
                this.$store.dispatch('users/addUser', this.newUser);
                this.clearForm();
                this.$router.push({name: 'users'});
            },
            clearForm () {
                this.newUser = {
                    name: '',
                    email: '',
                    avatar: ''
                }
            },
        }
    }
</script>

<style>
    .add-form {
        width: 50%;
        margin: 20px auto;
    }
</style>