<template>
    <div class="container">
        <div class="user-card">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <img :src="user.avatar">

                    <div class="info">
                        <span><strong>{{ user.name }}</strong></span>
                        <br>
                        <span>{{ user.email }}</span>
                    </div>
                    <div class="buttons">
                        <button @click="$router.push({ name: 'edit-user', params: { id: user.id } })" class="btn btn-primary">Change</button>
                        <button @click="$router.push({ name: 'users' })" type="button" class="btn btn-outline-secondary">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <albums :userPage="true"></albums>
    </div>
</template>

<script>
    import Albums from '../AlbumsList/Albums';
    export default {
        components: {
            Albums
        },
        data () {
            return {};
        },
        computed: {
            user() {
                return this.$store.state.users.users.find(user => user.id === +this.$route.params.id);
            },
        },
    }
</script>

<style scoped>
    .user-card {
        width: 50%;
        margin: 10px auto;
    }
    .user-card img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    .buttons, .info {
        padding: 15px;
    }

</style>