<template>
    <div class="search-panel form-row align-items-center">
        <label for="inlineFormCustomSelect" class="form-group col-md-3 col-form-label">Choose type and start search...</label>
        <div class="form-group col-md-2">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" v-model="searchType" @change="$emit('change-type', searchType)">
                <option selected value="name" >By name</option>
                <option value="email">By Email</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <input type="text" class="form-control" v-model="keyword" @input="$emit('change-keyword', keyword)">
        </div>
        <div class="form-group col-md-3">
            <router-link :to="{ name: 'add-user' }"><button class="btn btn-success add-user-btn">+Add user</button></router-link>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: "SearchPanel",
        data() {
            return {
                searchType: 'name',
                keyword: ''
            };
        },
    }
</script>

<style>
    .search-panel {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>