<template>
    <div class="container">
        <search-panel @change-keyword="onChangeKeyword" @change-type="onChangeSearchType"></search-panel>

        <h3 class="page-header">Users: {{ amount }}</h3>

        <div v-if="users" class="row users-row">
            <template v-for="(user, id) in users">
                <user-item :key="id" :user="user" ></user-item>
            </template>
        </div>
    </div>
</template>

<script>

    import {mapState, mapGetters} from 'vuex';
    import SearchPanel from './SearchPanel';
    import UserItem from './UserItem';

    export default {
        name: "Users",
        components: {
            UserItem,
            SearchPanel
        },
        data(){
            return {
                searchType: 'name',
                keyword: "",
            }
        },

        computed: {
            users() {
                return this.$store.getters['users/filterUsers'](this.searchType, this.keyword);
            },
            amount() {
                return this.$store.getters['users/countFilterUsers'](this.searchType, this.keyword);
            },
        },
        methods: {
            onChangeSearchType(searchType) {
                this.searchType = searchType;
            },
            onChangeKeyword(keyword) {
                this.keyword = keyword;
            },
        }
    }
</script>
<style>
    .users-row {
        margin-top: 20px;
    }
</style>