<template>
    <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="user-item">
            <img :src="user.avatar">
            <h6 class="user-name">{{ user.name }}</h6>
            <p><small class="text-muted">{{ user.email }}</small></p>
            <div class="user-buttons">
                <button @click="$router.push({ name: 'user', params: { id: user.id} })" class="btn btn-primary">Profile</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "UserItem",
        props: {
            user: {
                type: Object,
                required: true
            }
        },
    }
</script>

<style>
    .user-item {
        margin: 10px;
        padding: 15px;
        box-shadow: 0 0 15px rgba(29, 29, 29, 0.11)
    }
    .user-name {
        margin-top: 15px;
    }
    .user-item img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
</style>

