<template>
    <div class="container">
        <h4 class="page-header">Photos {{ amount }}</h4>

        <div class="row photos-row">
            <template v-for="(photo, id) in photos">
                <photo-item :key="id" :editAlbum="editAlbum" :photo="photo"></photo-item>
            </template>
        </div>

        <button v-if="editAlbum" class="btn btn-primary add-photo" @click="openAddPhotoModal = true">+Add photo</button>

        <div v-if="openAddPhotoModal" class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <h3>Add Photo</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-group" @submit.prevent>
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" v-model.trim="newPhoto.title">
                            </div>
                            <div class="form-group">
                                <label for="img">Image (URL)</label>
                                <input type="text" class="form-control" id="img" v-model.trim="newPhoto.url">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" @click="addPhoto">Add photo</button>
                        <button class="btn btn-outline-secondary" @click="openAddPhotoModal = false; clearForm()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PhotoItem from './PhotoItem';
    export default {
        components: {
            PhotoItem
        },
        props: {
            editAlbum: Boolean,
        },
        data() {
            return {
                openAddPhotoModal: false,
                newPhoto: {
                    title: '',
                    url: '',
                    albumId: +this.$route.params.id
                }
            };
        },

        computed: {
            photos() {
                return this.$store.getters['photos/getAlbumPhotos'](this.$route.params.id);
            },
            amount() {
                return this.$store.getters['photos/amountAlbumPhotos'](this.$route.params.id);
            },
        },
        methods: {
            addPhoto () {
                if (!this.newPhoto.title || !this.newPhoto.url) {
                    return
                }
                this.$store.dispatch('photos/addPhoto', this.newPhoto);
                this.openAddPhotoModal = false;
                this.clearForm();
            },
            clearForm () {
                this.newPhoto = {
                    title: '',
                    url: '',
                    albumId: +this.$route.params.id,
                }
            }
        }
    }
</script>

<style>
    .add-photo {
        margin-top: 20px;
    }
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 500px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .photos-row {
        margin-top: 25px;
    }
</style>