<template>
    <div class="col-sm-4 col-md-4 col-lg-3">
        <div class="photo">
            <img class="preview" :src="photo.url">
            <div class="">
                <h6 class="photo-name">{{ photo.title }}</h6>
                <button v-if="editAlbum" @click="deletePhoto(photo.id);" class="btn btn-danger btn-sm">Delete</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            editAlbum: Boolean,
            photo: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
            };
        },
        methods: {
            deletePhoto: function(id) {
                this.$store.dispatch('photos/deletePhoto', id);
            },
        }
    }
</script>

<style>
    .photo {
        height: 300px;
        padding: 15px;
        margin: 10px;
        box-shadow: 0 0 15px rgba(29, 29, 29, 0.11);
    }
    .photo-name {
        font-size: 14px;
        height: 75px;
    }
    .photo img {
        width: 100%;
    }

</style>