<template>
    <div class="add-album">
        <h3 class="page-header">Add new Album</h3>
        <form class="form-group" @submit.prevent>
            <div class="form-group">
                <label for="title">Title</label>
                <input v-model.trim="newAlbum.title" type="text" class="form-control" id="title" placeholder="Enter title">
            </div>
            <div class="form-group">
                <label for="preview">Preview (URL)</label>
                <input type="text" class="form-control" id="preview" v-model.trim="newAlbum.preview" placeholder="Enter preview url">
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">User</label>
                <select class="custom-select mr-sm-2" v-model="newAlbum.userId">
                    <template v-for="(user, id) in users">
                        <option :key="id" :value="user.id">{{ user.name }}</option>
                    </template>
                </select>
            </div>
            <button class="btn btn-success" @click="addAlbum">Add album</button>
            <button @click="$router.go(-1)" type="button" class="btn btn-outline-secondary">Close</button>
        </form>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        data() {
            return {
                newAlbum: {
                    title: '',
                    preview: '',
                    userId: ''
                }
            };
        },

        computed: {
            ...mapState({
                users: state => state.users.users,
            }),
        },

        methods: {
            addAlbum() {
                if (!this.newAlbum.title || !this.newAlbum.userId > 0) {
                    return;
                }

                this.$store.dispatch('albums/addAlbum', this.newAlbum);
                this.clearForm();
                this.$router.push({ name: 'albums'});
            },

            clearForm() {
                this.newAlbum = {
                    title: '',
                    preview: '',
                    userId: ''
                }
            }
        }
    };
</script>

<style>
    .add-album {
        width: 50%;
        margin: 10px auto;
    }

</style>