<template>
    <div class="container">
        <h3 class="page-header">Album "{{ album.title}}"</h3>
        <div class="row album-info">
            <div class="col-md-6 col-sm-12">
                <div class="image">
                    <img :src="album.preview">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="owner row">
                    <div class="col-md-6 col-sm-12">
                        <div class="avatar">
                            <img :src="user.avatar">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="user-info">
                            <h6>Owner</h6>
                            <a class="owner-link" @click="$router.push({ name: 'user', params: { id: album.userId }})">
                                <span><strong>{{ user.name }}</strong></span>
                            </a>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <span>{{ user.email }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="buttons">
                    <button @click="$router.push({ name: 'edit-album', params: { id: album.id } })" class="btn btn-primary">Change</button>
                    <button @click="$router.push({ name: 'albums' })" type="button" class="btn btn-outline-secondary">Close</button>
                </div>
            </div>
        </div>

        <photos :editAlbum="false"></photos>
    </div>

</template>

<script>
    import Photos from '../PhotosList/Photos';
    export default {
        name: "Album",
        components: {
            Photos
        },
        data() {
            return {
            };
        },
        computed: {
            album() {
                return this.$store.state.albums.albums.find(album => album.id === +this.$route.params.id);
            },
            user() {
                return this.$store.state.users.users.find(user => user.id === +this.album.userId);
            },
        },
    }
</script>

<style>
    .image img {
        width: 250px;
    }
    .owner-link:hover {
        cursor: pointer;
        opacity: 0.9;
    }
    .owner {
        padding: 15px;
    }
    .avatar img {
        width: 80px;
        height: 80px;
    }
    .album-info {
        padding: 15px;
        width: 70%;
        margin: 25px auto;
        box-shadow: 0 0 15px rgba(29, 29, 29, 0.11);
    }
    .user-info {
        padding: 10px;
    }
    .buttons {
        margin-top: 20px;
    }

</style>