<template>
    <div class="edit-album">
        <h3 class="page-header">Edit Album {{ album.id}}</h3>

        <form class="form-group" @submit.prevent>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" v-model.trim="album.title">
            </div>
            <div class="form-group">
                <label for="preview">Preview (URL)</label>
                <input type="text" class="form-control" id="preview" v-model.trim="album.preview">
            </div>
            <button class="btn btn-success" @click="editAlbum">Save</button>
            <button class="btn btn-danger" @click="deleteAlbum">Delete</button>
            <button @click="$router.push({ name: 'album', params: { id: album.id } })" class="btn btn-outline-secondary">Close</button>
        </form>

        <photos :editAlbum="true"></photos>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import Photos from '../PhotosList/Photos';

    export default {
        components: {
            Photos,
        },
        data () {
            const album = this.$store.state.albums.albums.find(album => album.id === +this.$route.params.id)
            return {
                album: {
                    id: album.id,
                    userId: album.userId,
                    title: album.title,
                    preview: album.preview
                },
                newPhoto: {
                    title: '',
                    url: '',
                    albumId: +this.$route.params.id
                }
            }
        },
        methods: {
            editAlbum () {
                if (!this.album.title || !this.album.preview) {
                    return
                }
                const data = {
                    albumId: this.album.id,
                    data: {
                        title: this.album.title,
                        preview: this.album.preview,
                        userId: this.album.userId
                    }
                };
                this.$store.dispatch('albums/editAlbum', data);
                this.$router.push({ name: 'album', params: { id: this.album.id } });
            },
            deleteAlbum() {
                this.$store.dispatch('albums/deleteAlbum', this.$route.params.id);
                this.$router.push({ name: 'albums' });
            },
        }
    }
</script>

<style>
    .edit-album form {
        width: 50%;
        margin: 10px auto;
    }
</style>