<template>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="album-item">
            <router-link :to="{ name: 'album', params: { id: album.id }}" >
                <img class="preview" :src="album.preview">
                <h5>{{ album.title }}</h5>
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            index: Number,
            album: {
                type: Object,
                required: true
            }
        },

        data() {
            return {
            };
        },
    }
</script>

<style>
    .album-item {
        margin: 10px;
        padding: 10px;
        height: 300px;
        box-shadow: 0 0 15px rgba(29, 29, 29, 0.11);
    }
    .album-item img {
        width: 100%;
    }
</style>
