<template>
    <div class="container">

        <filter-panel v-if="!userPage" @change-user="onSelectUser"></filter-panel>

        <h3 class="page-header">Albums {{ amount }}</h3>

        <div class="row">
            <template v-for="(album, id) in albums">
                <album-item :key="id" :album="album"></album-item>
            </template>
        </div>
    </div>
</template>

<script>
    import FilterPanel from './FilterPanel';
    import AlbumItem from './AlbumItem';
    export default {
        components: {
            FilterPanel,
            AlbumItem
        },
        props: {
            userPage: Boolean,
        },
        data() {
            return {
                userPage: false,
                userIdFilter: this.$route.params.id ? this.$route.params.id : 0
            };
        },

        computed: {
            albums() {
                return this.$store.getters['albums/getUserAlbums'](this.userIdFilter);
            },
            amount() {
                return this.$store.getters['albums/amountUserAlbums'](this.userIdFilter);
            },

        },
        methods: {
            onSelectUser(selectedUserId) {
                this.userIdFilter = selectedUserId;
            }
        }
    }
</script>

<style>
</style>