<template>
    <div class="filter-panel form-row align-items-center">
        <label for="inlineFormCustomSelect" class="form-group col-md-3 col-form-label">Select user for filter albums...</label>
        <div class="form-group col-md-6">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" v-model="selectedUserId" @change="$emit('change-user', +selectedUserId)">
                <option selected value="0">All users</option>
                <template v-for="(user, id) in users">
                    <option :key="id" :value="user.id">{{ user.name }}</option>
                </template>
            </select>
        </div>
        <div class="form-group col-md-3">
            <button @click="$router.push({ name: 'add-album' })" class="btn btn-success">+New Album</button>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: "FilterPanel",
        data() {
            return {
                selectedUserId: Number,
            };
        },
        computed: {
            ...mapState({
                users: state => state.users.users,
            }),
        },
    }
</script>

<style>
    .filter-panel {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>