<template>
  <div id="app">
    <nav class="navbar navbar-light bg-light">
      <ul class="nav-list">
        <li>
          <router-link to="/users">Users</router-link>
        </li>
        <li>
          <router-link to="/albums">Albums</router-link>
        </li>
      </ul>
    </nav>
    <div class="main-container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {}
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.main-container {
  margin-top: 90px;
}
.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

}
.nav-list {
  margin: 10px auto;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
